<input type="number" ([ngModel])=op1s>
+
<input type="number" ([ngModel])=op2s>
<button (click)="somma()">=</button>
{{risSomma}}
<br>
<input type="number" ([ngModel])=op1d>
-
<input type="number" ([ngModel])=op2d>
<button (click)="sottrai()">=</button>
<br>

<input type="number" ([ngModel])=op1m>
*
<input type="number" ([ngModel])=op2m>
<button (click)="moltiplica()">=</button>
<br>
<input type = "number"([ngModel])=op1dv>
/
<input type = "number"([ngModel])=op2dv>
<button (click) ="dividi()">=</button> 
<br>
<input type = "number"([ngModel])=op1md>
%
<input type = "number"([ngModel])=op2md>
<button (click) ="modulo()">=</button> 